<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.tlais.yutest1.mapper.BookImageMapper">


    <insert id="insert">
        insert into book_image_relations (book_id, image_id, created_at ) values
        <foreach collection="imageIds" item="imageId" open="(" close=")" separator=",">
            #{bookId}, #{imageId}, #{createdAt}
        </foreach>
    </insert>

</mapper>
