<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.tlais.yutest1.mapper.ImageMapper">


    <select id="getByIds" resultType="org.tlais.yutest1.domain.vo.ImageVO">
        select id, url from images where id in (#{strings})
    </select>
</mapper>
