<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.tlais.yutest1.mapper.MessagesMapper">
    <select id="selectByOrderId" resultType="org.tlais.yutest1.domain.entity.Message">
        select * from messages where order_id = #{orderId}
    </select>
    <select id="selectUnread" resultType="org.tlais.yutest1.domain.entity.Message">
        select * from messages where  is_read = 0 and (receiver_id = #{currentId} or sender_id = #{currentId})
        order by order_id desc
    </select>
</mapper>
