<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.tlais.yutest1.mapper.OrdersMapper">


    <insert id="insertBatch">
        insert into orders (id, book_id, seller_id, buyer_id, created_at, updated_at, amount, status)
        values
        <foreach collection="orderList" item="item"  separator=",">
           (#{item.id}, #{item.bookId}, #{item.sellerId}, #{item.buyerId}, #{item.createdAt}, #{item.updatedAt}, #{item.amount}, #{item.status})
        </foreach>
    </insert>
    <update id="updateById">
        update orders
        set status = #{status}, updated_at = #{updatedAt}
        where id = #{id}
    </update>
    <update id="cancelOrder">
        update orders
        set status = #{status}, updated_at = #{updatedAt}
        where id in
        <foreach collection="orders" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>
    <select id="selectList" resultType="org.tlais.yutest1.domain.entity.Order">
        select * from orders
        <where>
            <if test="sellerId != null">
                seller_id = #{sellerId}
            </if>
            <if test="buyerId != null">
                buyer_id = #{buyerId}
            </if>
            <if test="status != null">
                and
                <foreach collection="status" item="item" separator="or" open="(" close=")">
                    status = #{item}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getCountByStatus" resultType="java.lang.Integer">
        select count(*) from orders
        <where>
            <if test="status != null">
                status = #{status}
            </if>
            <if test="now != null">
                created_at >= #{now}
            </if>
        </where>
    </select>
    <select id="getCountByStatus7d" resultType="java.lang.Integer">
        select count(*) from orders
        <where>
            <if test="status != null">
                status = #{status}
            </if>
            <if test="now != null">
                created_at >= #{now}
            </if>
        </where>
        group by created_at order by created_at desc
    </select>
    <select id="selectByIdList" resultType="org.tlais.yutest1.domain.entity.Order">
        <if test="orderIds != null and orderIds.size() > 0">
            select * from orders
            where id in
            <foreach collection="orderIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>
